<a href="https://colab.research.google.com/github/younhuiji/python/blob/main/py02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 자료 타입
* 숫자 타입
    *  `int` : 정수
    *  `float` : 실수
    
* 문자열 타입
    * `str`

* 논리 타입
    * `bool` : True/False

* 객체 타입

파이썬은 변수를 선언할 때 자료 타입을 명시하지 않음! 변수의 자료 타입은 코드가 실행될 때 결정됨.

In [ ]:
# 주석 (comment)
# 변수_이름 = 값
n = 123
print(n)
print(type(n)) # type(argument) : arg의 자료 타입을 리턴.

123
<class 'int'>

In [ ]:
n = 3.14
print(type(n))

<class 'float'>

식(experssion) : 값, 변수, 계산식(연산), 함수 호출

문장(statement) : 코드의 최소 실행 단위.

ipynb(IPython notebook) 코드셀에서 가장 마지막 줄에 있는 문장이 식(exoression)이면,

 그 식을 평가한 결과를 콘솔 창에 출력. (print 함수를 사용하지 않아도 됨.)

In [ ]:
x = 1
y = 2
# print(x + y)
x + y

3

## 명시적 타입 변환

* `int(값)` : 값을 정수 타입으로 변환해서 리턴.
* `float(값)` : 값을 실수 타입으로 변환해서 리턴.
* `str(깂)` : 값을 문자열 타입으로 리턴.

In [ ]:
# colab 노트북의 콘솔에서 입력 받는 방법 :
n = input('정수 입력>>>> ')

정수 입력>>>>1

In [ ]:
type(n)

str

In [ ]:
n = int(n) # 변수 n의 타입을 int 타입으로 변환한 후 n에 저장.

In [ ]:
type(n)

int

# 산술 연산자

숫자 타입에서 사용되는 산술 연산자: `+, -, *, /, //, %. **`

* `/` : 소수점까지 계산하는 나눗셈.
* `//` : 나눈 몫만 계산하는 나눗셈.
* `%` : 나머지
* `**` : 거듭 제곱

In [ ]:
10 / 3

3.3333333333333335

In [ ]:
10 // 3

3

In [ ]:
10 % 3

1

In [ ]:
3 ** 3

27

## 문자열(str) 타입에서 사용할 수 있는 산술 연산자.

* `+` : concatenate. 문자열 이어 붙이기
* `*` : replicate. 문자열 복제

In [ ]:
'Hello' + 'Python'

'HelloPython'

In [ ]:
'Hello' * 5

'HelloHelloHelloHelloHello'

# 비교 연선자와 논리 연산자

* 비교 연산자 : `==, !=, >, >=, <, <=`
* 논리 연산자 : `and, or, not`

In [ ]:
x = 100

In [ ]:
(x > 50 ) and (x < 150)

True

In [ ]:
50 < x < 150

True

# EX 1. 조건문
* 3개의 정수를 입력받고 각각 변수에 저장.
* 3개 정수의 평균을 소수점까지 계산하고 출력.
* 평균이 90 이상면 A, 80 이상이면 B, 70 이상이면 C, 70 미만이면 F

In [ ]:
A = input('과목A 점수 >> ')
B = input('과목B 점수 >> ')
C = input('과목C 점수 >> ')
A = int(A)
B = int(B)
C = int(C)

과목A 점수 >> 90
과목B 점수 >> 95
과목C 점수 >> 100

In [ ]:
average = (A + B + C) / 3
print('평균 : ',average)

평균 :  95.0

In [ ]:
if(average >= 90 ):
    print('A')
elif( average >= 80 ):
    print('B')
elif( average >= 70 ):
    print('C')
else:
    print('F')

A

# Ex 2. 반복문

* 구구단 12단(12x1,...)을 출력

In [ ]:
print('**12단을 출력**')
x = 12
for y in range(1, 13):
    print(x, "x", y, "=",  x*y)

**12단을 출력**
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144