<a href="https://colab.research.google.com/github/younhuiji/python/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List (리스트)

list : 여러개의 값들을 하나의 변수에 저장하기 위한 데이터 타입.

* element(원소, 요소): 리스트에 저장되는 각각의 값.
* index(인덱스): 리스트에 원소들이 저장된 위치.
    * 리스트의 인덱스는 **0부터** 시작
    * 리스트의 마지막 인덱스는 **(원소 개수 -1)**
* 리스트는 원소들을 추가/삭제/변경할 수 있음.
    * `tuple`과 다른 점!

In [ ]:
# 숫자들을 저장하는 리스트
numbers = [1, 2, 3, 10, 20, 30]
print(numbers)

[1, 2, 3, 10, 20, 30]

In [ ]:
numbers

[1, 2, 3, 10, 20, 30]

## indexing

인덱스를 사용해서 리스트에서 원소를 참조하는 방법.

In [ ]:
numbers[0] # 리스트의 첫번째 원소 값
numbers[5] # 리스트의 마지막 원소 값
numbers[-1] # 리스트 거꾸로

30

## slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법.

```
list[start:end]
```

* start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄.
* start 를 생략한 경우에는 첫번째 원소부터 잘라냄. `list[:10] = list[0:10]`
* end를 생략한 경우에는 마지막 원소까지 잘라냄.
* 리스트를 slicing한 결과는 또다른 새로운 리스트!

In [ ]:
# 리스트 numbers에서 첫번째 원소부터 순서대로 3개 잘라냄
numbers[0:3]
numbers[:3]

[1, 2, 3]

In [ ]:
# 리스트 numbers에서 끝에서 3개의 원소를 잘라냄
numbers[3:6]
numbers[-3:]

[10, 20, 30]

In [ ]:
print(numbers[0:1]) # slicing -> list
print(numbers[0]) # indexing -> element

[1]
1

# 문자열

문자열: 문자들의 리스트. indexing, slicing을 사용할 수 있음.

In [ ]:
message = '안녕하세요, 파이썬!' # 11개의 문자들을 원소로 갖는 문자열

In [ ]:
# 문자열의 첫 번째 글자
message[0]

'안'

In [ ]:
# 문자열의 마지막 글자
message[-1]

'!'

In [ ]:
# 문자열 + 문자열
'Hello' + 'Python'

'HelloPython'

In [ ]:
# 문자열 * 정수 또는 정수 * 문자열
'Hello' * 3

'HelloHelloHello'

# list의 산술 연산

* `list + list`
* `list * 정수`또는 `정수 * list`

In [ ]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

# list 객체의 기능(메서드)
* `list.append(argument)` : 리스트의 가장 마지막에 새로운 원소(arg)를 추가.
* `list.insert(index, value)` : 리스트의 index 위치에 value를 추가.
* `list.extend(iterable)` : list + list2
* `list.remove(value)` : 리스트에서 처음 등장하는 value를 삭제.
* `list.pop(index)` : 리스트에서 index 위치에 있는 원소를 삭제.
* `list.clear()` : 리스트 전체 원소 삭제.

In [ ]:
list1 = [1, 2, 3, 4, 5]

In [ ]:
list1.append(10)

In [ ]:
list1

[1, 2, 3, 4, 5, 10]

In [ ]:
list1.extend([100])

In [ ]:
list1.append([1, 2, 3, 5])

In [ ]:
list1.clear()

In [ ]:
list1

[]

# list와 for 반복문

In [ ]:
for x in '안녕하세요':
    print(x)

안
녕
하
세
요

In [ ]:
numbers=[1, 2, 4, 6, 7 ,8]
for x in numbers:
    print(x)

1
2
4
6
7
8

In [ ]:
for i, v in enumerate(numbers):
    print(i, ':', v)

0 : 1
1 : 2
2 : 4
3 : 6
4 : 7
5 : 8

파이썬에서 난수 생성: `random` 모듈을 import하고 random 모듈의 함수를 사용.

In [ ]:
import random

In [ ]:
random.random() # [0, 1) 범위(0 <= x < 1)의 실수 난수 1개를 리턴.

0.020529246835400694

In [ ]:
random.randrange(10) # [0, 10) 범위의 정수 난수 1개를 리턴.

1

# 연습 문제

## Ex 1.
1. 빈 리스트를 생성.
1. 1 이상 10 이하의 정수 난수 5개를 저장.
1. 리스트의 모든 정수들의 합을 출력.
1. 리스트의 모든 정수들의 평균을 출력.

In [ ]:
list = []

n = 1
while n <= 5:
    list.append(random.randrange(1, 11))
    n+=1

print('list :', list)

total = 0
for x in list:
    total += x

print('sum : ', total)
print('avg :', total / 5)

list : [4, 8, 6, 9, 6]
sum :  33
avg : 6.6

In [ ]:
list = [ random.randrange(1, 11) for  _ in range(5)]
print(list)

total = sum(list)
print('sum : ', total)

print('avg :', total / len(list))

[8, 2, 7, 9, 3]
sum :  29
avg : 5.8

## Ex 2.
1. 빈 리스트(numbers)를 생성.
1. 10 이상 100미만의 정수 난수 10개를 numbers에 저장.
1. numbers에서 짝수들만 선택해서 evens 리스트 만둚.
1. numbers에서 홀수들만 선택해서 odds 리스트 만듦.

In [ ]:
numbers = []
n = 1
while n <= 10:
    numbers.append(random.randrange(10, 100))
    n += 1

print('numbers =', numbers) 

odds=[]
evens=[]
for x in numbers:
    if(x % 2):
        odds.append(x)
    else:
        evens.append(x)

print('odds :', odds)
print('evens :', evens)

numbers = [25, 55, 58, 64, 98, 27, 17, 20, 46, 60]
odds : [25, 55, 27, 17]
evens : [58, 64, 98, 20, 46, 60]

In [ ]:
numbers = [random.randrange(10, 100) for x in range(10)]
print(numbers)

evens = [x for x in numbers if x % 2 == 0]
print(evens)

odds = [x for x in numbers if x % 2 != 0]
print(odds)

[85, 48, 95, 82, 17, 80, 72, 23, 19, 15]
[48, 82, 80, 72]
[85, 95, 17, 23, 19, 15]

## Ex 3. 
1. 빈 리스트 numbers를 만듦.
1. -10 이상 10이하인 범위의 정수 난수 10개를 numbers에 저장.
1. numbers의 원소가 양수이면 True, 그렇지 않으면 False 를 저장하는 is_positive 리스트를 만듦.

In [ ]:
numbers = []
n = 1
while n <= 10:
    numbers.append(random.randrange(-10, 11))
    n += 1

print(numbers)

in_positive=[]
for x in numbers:
    if (x < 0):
        in_positive.append('False')
    else :
        in_positive.append('True')

print('in_positive : ', in_positive)

[-6, 0, -6, 4, 7, 10, 5, 8, 10, 2]
in_positive :  ['False', 'True', 'False', 'True', 'True', 'True', 'True', 'True', 'True', 'True']

In [ ]:
# Java의 3항 연산자 - (조건식) ? 값1 : 값2
# Python의 if-else 표현식(expression) - 값1 if 조건식 else 값2

x = 3
y = True if x > 0 else False
print(y)

True

In [ ]:
numbers = [random.randrange(-10, 11) for x in range(10)]
print (numbers)

in_positive= [ False if x <0 else True for x in numbers ]
print(in_positive)

[-4, 10, 2, 7, -10, 2, 0, 5, 10, 2]
[False, True, True, True, False, True, True, True, True, True]

Ex 4.
1. gender_code 리스트에 0 또는 1을 랜덤하게 10개를 저장.
1. gender_codes의 값이 0이면 'Male', 그렇지 않으면 'Female'을 저장하는 genders 리스트를 만듦.

In [ ]:
gender_code = []
n =1 
while n <= 10:
    gender_code.append(random.randrange(0,2))
    n+=1
print('gender_code :', gender_code)

genders=[]
for x in gender_code:
    if (x == 0):
        genders.append('Male')
    else :
        genders.append('Female')

print('genders :',genders)

gender_code : [1, 1, 1, 0, 1, 1, 1, 1, 0, 0]
genders : ['Female', 'Female', 'Female', 'Male', 'Female', 'Female', 'Female', 'Female', 'Male', 'Male']

In [ ]:
gender_code=[random.randrange(0, 2) for x in range(10)]
print(gender_code)

genders =  ['Male' if x == 0 else 'Female' for x in gender_code]
print (genders)

[1, 1, 0, 0, 1, 1, 1, 0, 1, 1]
['Female', 'Female', 'Male', 'Male', 'Female', 'Female', 'Female', 'Male', 'Female', 'Female']

# list comprehension(리스트 내포)

1부터 10까지 정수들을 차례로 저장하고 있는 리스트

In [ ]:
numbers=[]
for _ in range(1,11):
    numbers.append(_)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [x for x in range(1, 11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Ex.
1. 0 이상 10 미만의 난수 10개를 저장하는 리스트  numbers1을 만들고 출력.
1. 0 이상 10 미만의 난수 10개를 저장하는 리스트 numbers2을 만들고 출력.
1. numbers1과 numbers2에서 같은 인덱스의 원소들끼리의 합을 저장하는 리스트 adds를 만들고 출력.
1. numbers1의 원소에서 number2의 원소를 뺀 값들은 저장하는 리스트 subtracts를 만들고 출력.
1. numbers1과 numbers2에서 같은 인덱스의 원소들끼리의 곱을 저장하는 리스트 mutiplications를 만들고 출력.

In [ ]:
numbers1 = [random.randrange(0, 10) for x in range(10)]
numbers2 = [random.randrange(0, 10) for x in range(10)]
print('numbers1 :',numbers1)
print('numbers2 :', numbers2)

adds = [ numbers1[i]+ numbers2[i] for i in range(len(numbers1))]
print('adds :', adds)  

subtracts = [ numbers1[i]-numbers2[i] for i in range(len(numbers1)) ]
print('subtracts :', subtracts)

mutiplications = [numbers1[i] * numbers2[i] for i in range(len(numbers1)) ]
print('mutiplications :', mutiplications)

numbers1 : [0, 2, 2, 1, 1, 9, 2, 3, 8, 8]
numbers2 : [9, 6, 2, 9, 8, 9, 3, 9, 9, 3]
adds : [9, 8, 4, 10, 9, 18, 5, 12, 17, 11]
subtracts : [-9, -4, 0, -8, -7, 0, -1, -6, -1, 5]
mutiplications : [0, 12, 4, 9, 8, 81, 6, 27, 72, 24]

In [ ]:
# 다른 풀이식
adds=[]
subtracts=[]
mutiplications=[]

# for x, y in zip(numbers1, numbers2):
#         adds.append(x + y)
adds = [x + y for x, y in zip(numbers1, numbers2)]
print(adds)

subtracts = [x - y for x, y in zip(numbers1, numbers2) ]
print(subtracts)

mutiplications = [x * y for x, y in zip(numbers1, numbers2)]
print(mutiplications)

[9, 8, 4, 10, 9, 18, 5, 12, 17, 11]
[-9, -4, 0, -8, -7, 0, -1, -6, -1, 5]
[0, 12, 4, 9, 8, 81, 6, 27, 72, 24]